{% extends 'base.html.twig' %}

{% block title %}Liste des Mails aux Autres Éducateurs{% endblock %}

{% block body %}
    <h1>Liste des Mails aux Autres Éducateurs</h1>

    {% if sentMails is empty %}
        <p>Aucun mail disponible.</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Sujet</th>
                <th>Message</th>
                <th>Date d'envoi</th>
                <th>Expediteur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for mail in sentMails %}
                <tr>
                    <td>{{ mail.objet }}</td>
                    <td>{{ mail.message }}</td>
                    <td>{{ mail.getDateDenvoie|date('Y-m-d H:i:s') }}</td>
                    <td>{{ mail.expediteur.email }}</td>
                    <td>
                        <a href="{{ path('delete_mail', {'id': mail.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce mail ?')">Supprimer</a>
                        <a href="{{ path('view_mail', {'id': mail.id}) }}">Voir détails</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
